/* Container */
mat-sidenav-container {
  height: calc(100vh - 64px);
}

/* Sidenav */
mat-sidenav {
  position: fixed;
  z-index: 2;
  width: 70px;
  background-color: #20104d;
  transition: all 0.3s ease-in-out;
}

/* List */
mat-sidenav mat-nav-list {
  overflow: hidden;
}

/* Side Nav Header  */
.sidenav-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 0px 24px;
  margin-bottom: 10px;
}

/* Side Nav anchors */
mat-sidenav mat-nav-list a {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  width: 42px;
  height: 42px;
  margin-top: 10px;
  margin-left: 14px;
  padding-right: 12px;
  position: relative;
  .mat-list-name {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    display: block;
  }
}

mat-sidenav mat-nav-list a:hover {
  background-color: #fff;
  border-radius: 6px;
  .mat-list-name {
    color: #07004d;
    font-weight: 700;
  }
}

/* List Icon */
mat-sidenav .mat-mdc-list-item-icon {
  margin: 0px 10px;
}

/* List Names */
mat-sidenav .mat-list-name {
  display: none;
}

/* Hovering of Side Nav */
mat-sidenav:hover {
  width: 218px;
  overflow: hidden;
}

mat-sidenav:hover .mat-list-name {
  display: block;
  overflow: hidden;
}

mat-sidenav:hover mat-nav-list a {
  width: 190px;
  overflow: hidden;
}

/* Material List Anchor */

.chevron {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

mat-sidenav:hover .chevron {
  display: block;
}
