<mat-sidenav-container>
  <mat-sidenav
    opened
    mode="side"
    (mouseenter)="headerImg = 'assets/Smartruck_hover_logo.svg'"
    (mouseleave)="headerImg = 'assets/S_logo.svg'"
  >
    <div class="sidenav-header">
      <img [src]="headerImg" alt="Smartruck" />
    </div>
    <mat-nav-list>
      @for (svg of svgs;let i = $index; track svg) {
      <a
        mat-list-item
        (mouseenter)="svg.currentIcon = svg.activeIcon"
        (mouseleave)="svg.currentIcon = svg.inactiveIcon"
      >
        <img matListItemIcon [src]="svg.currentIcon" alt="{{ svg.name }}" />
        <span class="mat-list-name">{{ svg.name }}</span>
        @if (i === 5) {
        <span>
          <img
            src="assets/active/chevron_icon.svg"
            alt="arrow"
            class="chevron"
          /> </span
        >}
      </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content></mat-sidenav-content>
</mat-sidenav-container>
